<div class="container">
    <form action="">
        <label for="name">First Name</label>
        <input type="text" id="name" name="name" placeholder="Your name ...">


        <label for="lastname">Last Name</label>
        <input type="text" id="lastname" name="lastname" placeholder="Your name ...">

        <label for="email">Mail Address</label>
        <input type="email" id="email" name="email" placeholder="Your mail address ...">


        <label for="message">Your Message</label>
        <textarea id="message" name="message" placeholder="Your message ...">
            </textarea>
    </form>
</div>