<section class="section">
    <div class="about-wrapper">
        <h2>About Me</h2>
        <p>{{'ABOUT_DESCRIPTION' | translate}}</p>
        <p>If you think I'd be a good match for your projects, contact me!</p>
        <div class="about-info">
            <img src="./../../../assets/img/icons/house.png" alt="">
            <p>{{ 'BASED' | translate }}</p>
        </div>
        <div class="about-info">
            <img src="./../../../assets/img/icons/laptop_chromebook.png" alt="">
            <p>{{ 'REMOTE' | translate }}</p>
        </div>
        <div class="button-div">
            <button>{{ 'TALKBUTTON' | translate}}</button>
        </div>
        <div class="photo"><img src="./../../../assets/img/AnjaPhotoSquare.jpg" alt=""></div>
        <div class="arrow-div">
            <img src="./../../../assets/icons/blackArrow_down.svg" alt="">
        </div>
    </div>
</section>