<section class="section">
    <div class="about-wrapper">
        <h2>About Me</h2>
        <p>{{'ABOUT_DESCRIPTION_1' | translate}}</p>
        <p>{{'ABOUT_DESCRIPTION_2' | translate}}</p>
        <div class="about-info">
            <img src="./../../../assets/img/icons/house.png" alt="">
            <p>{{ 'BASED' | translate }}</p>
        </div>
        <div class="about-info">
            <img src="./../../../assets/img/icons/laptop_chromebook.png" alt="">
            <p>{{ 'REMOTE' | translate }}</p>
        </div>
        <div class="button-div">
            <button>{{ 'TALKBUTTON' | translate}}</button>
        </div>
        <div class="photo"><img src="./../../../assets/img/AnjaPhotoSquare.jpg" alt=""></div>
        <div class="arrow-div">
            <img src="./../../../assets/img/animations/arrow_angle.png" alt="arrow showing down"
                [ngClass]="{'scrolled': isScrolled}">
        </div>
    </div>
</section>