.section{
    background-color: var(--clr-bg);
}

.about-wrapper{    
    p{
        font-family: Overpass;
        font-size: 20px;
        font-weight: 400;
        text-align: left;
    }

    .photo {
        padding-right: 8px;
        margin: 0 auto;
        margin-bottom: 30px;
        position: relative;
        
        >img {
            width: 100%;
            max-width: 300px;
            }
    }
    
    .show-border {
        width: 100%;
        max-width: 300px;
        height: 100%;
        position: absolute;
        top: 12px;
        left: 12px;
        border: 4px solid var(--clr-text);
        opacity: 0;
        padding-right: 8px;
        transition: opacity 3s ease-in-out;
        opacity: 1;
    }
   
    .about-info {
        display: flex;
        align-items: center;
        height: 2rem;
        margin-bottom: 10px;
        >p {    
            padding-top: 10px;
        }
        img {
            height: 26px;
            width: 35px;
            margin-right: 5px;
        }
        img.remote-img {
            height: 23px;
            width: 30px;
            padding: 0 0 0 6px;           
        }
    }

    .button-div {
        display: flex;
        justify-content: center;
        padding: 75px 0 5px 0;
    
        .button {
            padding: 20px 40px;
            gap: 10px;
            color: var(--clr-text);
            border: 4px solid var(--clr-text);    
            background-color: var(--clr-bg);
            font-family: Overpass;
            font-size: 23px;
            font-weight: 400;
            text-align: left;
            transition: transform 1s cubic-bezier(0.22, 0.61, 0.36, 1), font-weight 1s ease-out;
             
            &:hover {
                transform: scale(1.05);
                font-weight: 700;
                padding: 20px 60px;
            }

            &:active {
                background-color: var(--clr-text);
                color: #fff;
                transform: scale(1);
                font-weight: 700;
            }
        }
    }
  
    .arrow-div {
        position: relative;
        overflow: hidden;
        height: 14rem;
        display: flex;
        justify-content: flex-end;
        padding: 0 50px;
        margin-bottom: 40px;

        >img {
            position: absolute;
            height: 100%;
            transition: transform 0.25s linear;        
            animation: moveDown 7s ease-in-out infinite; 
        }            
        
        // .scrolled {
        //     animation: moveDown 7s ease-in-out infinite; 
        // }

        @keyframes moveDown {
            from {
               transform: translate(100%, -100%);
                }
            to {
               transform: translate(-100%, 100%);
               }
        }
    }
}

@media (min-width: 768px) { 
    .about-wrapper p {
        font-size: 22px;
    }
}