.about-wrapper{
        width: 21.25rem;
    
    p{
        font-family: Overpass;
        font-size: 20px;
        font-weight: 400;
        text-align: left;
    }

    .photo>img {
        width: 100%;
        padding-right: 8px;
    }
   
    .about-info{
        display: flex;
        align-items: center;
        height: 2rem;
        >p{    
            padding-top: 10px;
        }
        img {
            height: 26px;
            width: 35px;
            margin-right: 5px;
        }
    }

    .button-div{
        display: flex;
        justify-content: center;
        padding: 75px 0 5px 0;
    
        button{
            padding: 20px 40px;
            gap: 10px;
            border: 4px solid var(--clr-text);    
            background-color: var(--clr-bg);
            font-family: Overpass;
            font-size: 23px;
            font-weight: 400;
            text-align: left;
            transition: transform 0.3s ease, font-weight 0.3s ease;

            &:hover{
                transform: scale(1.05);
                font-weight: 700;
                padding: 20px 60px;
            }

            &:active {
                background-color: var(--clr-text);
                color: #fff;
                transform: scale(1);
                font-weight: 700;
            }
        }
    }
    .skillsArrow {
        padding-left: 12%;
        padding-right: 20%;
        padding-bottom: 48px;
        display: flex;
        justify-content: flex-end;
    
        .skillArrowAnimation {
            overflow: hidden;
            width: 160px;
            height: 160px;
            position: relative;
    
            img {
                height: 100%;
                position: absolute;
                animation: runAnimation 7s linear infinite;
            }
        }
    }
    .arrow-div  {
        position: relative;
        height: 250px;
        width: 250px;
        >img{
            position: absolute;
            height: 100%;
            
}            // transition: transform 0.25s linear;
            
            .scrolled {
                animation: moveDown 7s linear infinite; 
                // transform: translateX(-120px) translateY(100px) rotate(45deg);
              }
              @keyframes moveDown {
                from {
                  transform: translate(100%, -100%);
                  /* Startposition: rechte obere Ecke */
                }
              
                to {
                  transform: translate(-100%, 100%);
                  /* Endposition: linke untere Ecke */
                }
              }
    }
}