.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px 0 0;
    max-width: 1440px;

    img {
        height: 100px;
        margin-top: 16px;
    }
}

nav {
    display: none;
    transition: all 0.3s ease-in-out;
}

nav.active {
    display: block;
}

.header-right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    >img{
        width: auto;
        width: auto;
        height: 2.8rem;
        padding-bottom: 3px;
    }
}

.burger-menu {
    background-color: var(--clr-bg);
    border: 0;
    cursor: pointer;
    padding: 0;
    position: relative;
    height: 30px;
    width: 30px;

    &:focus {
        outline: none;
    }
}



.burger-menu {
    background-color: var(--clr-bg);
    color: var(--clr-text);
    cursor: pointer;
}

.line {
    width: 40px;
    height: 4px;
    background-color: var(--clr-text);
    margin: 8px 0;
}

.active .line1 {
    transform: rotate(45deg) translate(5px, 5px);
}

.active .line2 {
    transform: rotate(-45deg) translate(5px, -5px);
}