<div class="header-container">
    <a href="/">
        <img src="../../../assets/img/Logo_black_final.svg" alt="logo"></a>

    <div class="header-right">

        @if(currentLanguage === 'en') {
        <img src="../../../assets/img/icons/english.png" alt="Deutsch" (click)="changeLanguage('de')">}
        @if(currentLanguage === 'de') {
        <img src="../../../assets/img/icons/german.png" alt="English" (click)="changeLanguage('en')">}

        <button class="burger-menu" id="toggle" [ngClass]="{ 'burger-active': isActive,  'closing': isClosing }"
            (click)="toggleNav()">
        </button>
    </div>
</div>
<nav [ngClass]="{ 'active': isActive }" id="nav-page">
    <app-navigation [isActive]="isActive" (closeNav)="closeNav()"></app-navigation>
</nav>