.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px 0 0;


    img {
        height: 100px;
        margin-top: 16px;
    }
}

nav {
    display: none;
    transition: all 0.3s ease-in-out;
}

nav.active {
    display: block;
    width: 350px;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 0;
    transition: width 0.6s linear;
}

nav.active ul {
    width: 100%;
}

nav ul li {
    transform: rotateY(0deg);
    opacity: 0;
    transition: transform 0.6s linear, opacity 0.6s linear;
}

nav.active ul li {
    opacity: 1;
    transform: rotateY(360deg);
}

nav ul a {
    position: relative;
    color: var(--clr-text);
    text-decoration: none;
    margin: 0 10px;
}

.burger-menu {
    background-color: var(--clr-bg);
    border: 0;
    cursor: pointer;
    padding: 0;
    position: relative;
    height: 30px;
    width: 30px;

    &:focus {
        outline: none;
    }
}



.burger-menu {
    background-color: var(--clr-bg);
    color: var(--clr-text);
    cursor: pointer;
}

.line {
    width: 40px;
    height: 4px;
    background-color: var(--clr-text);
    margin: 8px 0;
}

.active .line1 {
    transform: rotate(45deg) translate(5px, 5px);
}

.active .line2 {
    transform: rotate(-45deg) translate(5px, -5px);
}