.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px 0 0;

    img {
        height: 100px;
        cursor: pointer;
        margin-left: -8px;
    }
}

nav {
    display: none;
    transition: all 0.3s ease-in-out;
}

nav.active {
    display: block;
}

.header-right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    >img{
        width: 50%;
        height: 2.8rem;
        padding: 1px 0;
    }
}

.burger-menu {
    background-color: var(--clr-bg);
    background-image: url('./../../../assets/img/animations/burger1.png');
    background-size: cover;
    background-repeat: no-repeat;
    border: 0;
    cursor: pointer;
    padding: 0;
    position: relative;
    height: 30px;
    width: 35px;

    &:focus {
        outline: none;
    }
}

.burger-menu.burger-active {
animation: cycleBurgerMenu 1.5s linear forwards;
}

.burger-menu.closing {
    animation: reverseBurgerMenu 1.5s linear forwards;
}

@keyframes cycleBurgerMenu {
    0% {background-image: url('./../../../assets/img/animations/burger1.png');}
    20% {background-image: url('./../../../assets/img/animations/burger2.png');}
    40% {background-image: url('./../../../assets/img/animations/burger3.png');}
    60% {background-image: url('./../../../assets/img/animations/burger4.png');}
    80% {background-image: url('./../../../assets/img/animations/burger5.png');}
    100% {background-image: url('./../../../assets/img/animations/burger5.png');}
}

@keyframes reverseBurgerMenu {
    0% {background-image: url('./../../../assets/img/animations/burger5.png');}
    20% {background-image: url('./../../../assets/img/animations/burger6.png');}
    40% {background-image: url('./../../../assets/img/animations/burger7.png');}
    60% {background-image: url('./../../../assets/img/animations/burger8.png');}
    80% {background-image: url('./../../../assets/img/animations/burger1.png');}
    100% {background-image: url('./../../../assets/img/animations/burger1.png');}
}

@media (min-width: 2000px) {
    .header-container {
        padding: 0 32px 0 0;
    }
}
