<section class="atf-wrapper">
    <div class="atf-title-wrapper">
        <h1 class="atf-title">Frontend Developer</h1>
        <div class="atf-sub-title">
            <div class="atf-underline"></div>
            <p class="atf-name"> Anja Schwab</p>
        </div>
    </div>
    <div class="atf-bottom">
        <a class="atf-mailaddress" href="#contact">anja_schwab&#64;gmx.de</a>
        <div class="atf-scroll-down">
            <div class="atf-arrow-box arrow-down">
                <img src="./../../../assets/img/animations/arrow4.png" alt="">
            </div>
            <span>Scroll <br>Down </span>
        </div>
    </div>
</section>