section {
    // padding-top: 12rem;
    display: flex;
    flex-direction: column;
    // height: 100vh;
    justify-content: space-evenly;

    .atf-title{
        // letter-spacing: -0.025em;
        // text-align: center;
        margin: 0;
        padding: 0;
    }


    .atf-sub-title{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;


        .atf-name{
            color: var(--clr-text-green);
            font-family: Overpass;
            font-size: 23px;
            font-weight: 700;
            line-height: 23px;
            letter-spacing: -0.025em;
            text-align: center;

        }

        .atf-underline{
            width: 180px;
            height: 0;
            border-bottom: 3px solid black;           
    }}

    .atf-bottom {
        display: flex;
        justify-content: space-between;
        padding: 0 24px;
        >a {
            transform: rotate(270deg);
            text-decoration: none;
            color: var(--clr-text);
            font-family: Overpass;
            font-size: 20px;
            font-weight: 300;
            text-align: left;
        }

        .atf-scroll-down{
            .arrow-down {
                // width: 100;
                // height: 100;
               position: relative;
               animation: arrow-slide-loop 15s infinite; /* Infinite loop animation */
               transition: all 3s ease-in-out;
              }
              
              @keyframes arrow-slide-loop {
                0% {top: 0px; opacity: 1;}  /* Start at the top and fully visible */
                50% {top: 200px; opacity: 1;} /* End of downward motion, still visible */
                51% {opacity: 0;} /* Just after reaching the bottom, make it invisible */
                100% {top: 0px; opacity: 0;} /* Move it back up invisibly */
                // 0% {
                //   transform: translateY(0); /* Initial position */
                // }
                // 50% {
                //   transform: translateY(10px); /* Moves down */
                // }
                // 100% {
                //   transform: translateY(10px); /* Stays down, so we don't see the movement back */
                // }
              }

            .atf-arrow-box{
                // height: 160px;
                // align-content: end;
                >img{
                    height: auto;
                }
            }

            >span{
                font-family: Overpass;
                font-size: 20px;
                font-weight: 300;
                letter-spacing: -0.025em;
                text-align: left;
            }
        }
    }


}