section {
    min-height: clamp(50vh, 100vh - 0rem, 100vh);
    background-color: var(--clr-bg);
    
    .atf-wrapper {
      width: 100vw;
        display: flex;
        justify-content: space-around;
        align-items: stretch;
        flex-direction: column;
        padding-top: 20%;
        
        .atf-title-wrapper{
            background-color: var(--clr-bg);
            z-index: 1;
            padding-top: 50%;
        }
    
    .atf-title{
        margin: 0;
        padding: 0;
    }

    .frontend, .developer {
      opacity: 0; 
      position: relative;
    }

     .frontend {
      animation: flyInFromRight 1s ease-out forwards;
    }
    
    .developer {
      animation: flyInFromLeft 1s ease-out forwards;
      animation-delay: 0.5s; 
    }

    @keyframes flyInFromRight {
      0% {
        opacity: 0;
        transform: translateX(100%);
      }
      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }

    @keyframes flyInFromLeft {
      0% {
        opacity: 0;
        transform: translateX(-100%);
      }
      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }

      @keyframes flyInFromBottom {
        0% {
          opacity: 0;
          transform: translateY(100%);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
    
    .atf-sub-title{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;

        .atf-name{
            opacity: 0;
            color: var(--clr-text-green);
            font-family: Overpass;
            font-size: clamp(1.4375rem, 3.08vw + 0.65125rem, 5rem);
            font-weight: 700;
            line-height: 23px;
            letter-spacing: -0.025em;
            text-align: center;
            animation: flyInFromBottom 1s ease-out forwards;
            animation-delay: 2s; 
        }

        .atf-underline{
            opacity: 0;
            width: 45%;
            height: 0;
            border-bottom: 3px solid black;
            animation: flyInFromLeft 1s ease-out forwards;
            animation-delay: 1.5s; /* Delay by one and a  half second */
        }
      }
    
    .atf-bottom {
        display: flex;
        justify-content: space-between;
        flex-grow: 1;
        position: relative;
        margin-top: 100px;
                
        .link-div a {
            text-decoration: none;
            color: var(--clr-text);
            font-family: Overpass;
            font-size: 1.25rem;
            font-weight: 300;
            position: absolute;
            white-space: nowrap;
            left: -5.5rem;
            // top: 3rem;
            top: 6.5rem;
            transform: rotate(270deg);
            z-index: 3;
          }

        .atf-scroll-down{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
           
            .atf-arrow {             
              animation: arrow-slide-loop 8s infinite; 
              animation-delay: 3s;
              transition: all 3s ease-in-out;
                z-index: 0;
            }
              
            @keyframes arrow-slide-loop {
             0% {transform: translateY(-200px)}
             100% {transform: translateY(126px)}
            }

            .arrow-cover-below {
              font-family: Overpass;
              font-size: 20px;
              font-weight: 300;
              letter-spacing: -0.025em;
              text-align: center;
              width: 8rem;
              height: 8rem;
              padding-top: 2.2rem;
              background-color: var(--clr-bg);
              z-index: 2;
            }
        }
    }
  }
}

@media (min-width: 400px) {
  .atf-bottom {
    margin-top: unset !important;
  }
}

@media (min-width: 510px) {
  .atf-title-wrapper{
    padding-top: 27% !important;
  }

  .link-div a {
      top: 6rem;
  }
}

@media (min-width: 675px) {
  .atf-title-wrapper {
    padding-top: 20% !important;
  } 

  .atf-wrapper .atf-bottom > a {      
         top: 110px !important;
    }
  
  .atf-sub-title {
    gap: 24px;
  }
}



@media (min-width: 745px) {
  .atf-title-wrapper {
    padding-top: unset !important;
  }

  .atf-bottom .link-div a {
       top: 7rem;
  }
}

@media (min-width: 1060px) {
  .atf-wrapper .atf-bottom > a {      
    top: 42px !important;
  }

  .atf-bottom .link-div a {
    top: 0 !important;
  }

  .atf-sub-title {
    gap: 24px;
  }

  section .atf-wrapper .atf-sub-title .atf-underline {
      opacity: 1;
      animation: none;
    }
  

  .atf-wrapper .atf-bottom .atf-scroll-down {
    span {
      display: none;
    }

    .arrow-down {
      right: 72px;
      bottom: 20px;
    }

  }
}

@media (min-width: 1460px) {
  #atfMail {
      left: -3rem;
      top: -19rem !important;
  }

  section .atf-wrapper .atf-bottom .atf-scroll-down {
    position: absolute;
    right: 90px;
    bottom: 180px;
    z-index: 2;
  }
}


@media (min-width: 1560px) {
  #atfMail {
      left: 1rem;
      top: -19rem !important;
  }

  section .atf-wrapper .atf-bottom .atf-scroll-down {
    position: absolute;
    right: 145px;
    bottom: 180px;
    z-index: 2;
  }
}

@media (min-width: 1760px) {
  #atfMail {
      left: 12rem;
      top: -19rem !important;
  }
}

@media screen and (min-width: 760px) and (max-aspect-ratio: 1/1) {
  section .atf-wrapper .atf-bottom .link-div a {
      top: 3rem; 
  }

  section .atf-wrapper {
    padding-top: unset;  
  }
}