<article>
    <div [ngClass]="getLayoutClass()" class="single-project-wrapper">

        <!-- For Indexed Even Layout -->
        @if (getLayoutClass() === 'even-layout') {
        <div class="even-project-div">

            <div class="number-of-div" [ngStyle]="{'align-self': 'flex-end'}">
                {{ ('0' + (index + 1)).slice(-2) }}/{{ ('0' + totalProjects).slice(-2) }}
            </div>

            <div class="pic-txt-box">
                <a [href]="project.demo" target="_blank">
                    <div #projectImgDiv class="project-img-div" [ngStyle]="{'align-self': 'flex-start'}">
                        <img [src]="project.img" alt="project image">
                        <div #showBorder class="show-border">
                            <img #turnImgEven src="../../../../assets/img/icons/blackArrow_circle.svg">
                        </div>
                    </div>
                </a>

                <div class="text-content" [attr.data-aos]="!largeWindow ? 'fade-down' : 'fade-right'">
                    <h2>{{project.title | translate}}</h2>
                    <p class="stack">{{project.stack}}</p>
                    <p class="description">{{ projectDescription | translate }}</p>
                    <a [href]="project.github" target="_blank"><button>Github</button></a>
                </div>
            </div>
        </div>
        }

        <!-- For Indexed Odd Layout -->
        @if (getLayoutClass() === 'odd-layout') {
        <div class="odd-project-div">

            <div class="number-of-div" [ngStyle]="{'align-self': 'flex-start'}">
                {{ ('0' + (index + 1)).slice(-2) }}/{{ ('0' + totalProjects).slice(-2) }}
            </div>

            <div class="pic-txt-box">
                <a [href]="project.demo" target="_blank" class="show-border">
                    <div #projectImgDiv class="project-img-div" [ngStyle]="{'align-self': 'flex-end'}">
                        <img [src]="project.img" alt="project image">
                        <div #showBorder class="show-border">
                            <img #turnImgOdd
                                [attr.style]="!mobileWindow ? 'transform: rotate(130deg);' : 'transform: rotate(-130deg);'"
                                src="../../../../assets/img/icons/blackArrow_circle.svg">
                        </div>
                    </div>
                </a>

                <div class="text-content" [attr.data-aos]="!largeWindow ? 'fade-down' : 'fade-left'">

                    <h2>{{project.title | translate}}</h2>
                    <p class="stack">{{project.stack}}</p>
                    <p class="description">{{ projectDescription | translate }}</p>
                    <a [href]="project.github" target="_blank"><button>Github</button></a>

                </div>
            </div>
        </div>}

    </div>

</article>