<!-- <div [ngStyle]="{ 'border-color': isSelected ? '#000' : 'none' }"> -->


<article>
    <div [ngClass]="getLayoutClass()" class="single-project-wrapper">

        <!-- For Even Layout -->
        @if (getLayoutClass() === 'even-layout') {
        <div class="even-project-div">

            <div class="number-of-div" [ngStyle]="{'align-self': 'flex-end'}">
                {{ ('0' + (index + 1)).slice(-2) }}/{{ ('0' + totalProjects).slice(-2) }}
            </div>
            <div class="project-img-div">
                <img [src]="project.img" alt="project image">
                <a target="_blank" href="{{ project.demo }}" class="show-border"><img
                        src="../../../../assets/img/icons/blackArrow_circle.svg"></a>
            </div>

            <div class="text-content" data-aos="fade-right" data-aos-duration="1000" data-aos-easing="ease-in-sine">

                <h2>{{project.title | translate}}</h2>
                <p class="stack">{{project.stack}}</p>
                <p class="description">{{ projectDescription | translate }}</p>
                <a [href]="project.github" target="_blank"><button>Github</button></a>

            </div>
        </div>
        }

        <!-- For Odd Layout -->
        @if (getLayoutClass() === 'odd-layout') {
        <div class="odd-project-div">

            <div class="number-of-div" [ngStyle]="{'align-self': 'flex-start'}">
                {{ ('0' + (index + 1)).slice(-2) }}/{{ ('0' + totalProjects).slice(-2) }}
            </div>
            <div class="project-img-div">
                <img [src]="project.img" alt="project image">
                <a target="_blank" href="{{ project.demo }}" class="show-border"><img
                        src="../../../../assets/img/icons/blackArrow_circle.svg"></a>
            </div>

            <div class="text-content" data-aos="fade-left" data-aos-duration="1000" data-aos-easing="ease-in-sine">

                <h2>{{project.title | translate}}</h2>
                <p class="stack">{{project.stack}}</p>
                <p class="description">{{ projectDescription | translate }}</p>
                <a [href]="project.github" target="_blank"><button>Github</button></a>

            </div>
        </div>
        }
    </div>

</article>