.skills-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px;
    padding: 8px;
    border: 4px solid var(--clr-text);
    >h2{
        margin-top: -30px;
        background-color: var(--clr-bg);
        width: 80%;
        align-self: center;
    }
  }
  
  .skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
    justify-items: center;

    
    .skill-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        // &:nth-last-child(-n + 3) {
        //     justify-self: center; 
        //   }
        

        >img {
            width: 80px;
            height: 80px;
            object-fit: cover;
        }
        >span{
            font-family: Overpass;
            font-size: 16px;
            font-weight: 700;
            text-align: center;
        }
    }
  }
