<section class="section">
        <div class="skills-wrapper wrapper">
                <h2>My Skills</h2>

                <div class="skills-grid">
                        <div class="skill-item"><img src="./../../../assets/img/icons/0_angular.png"
                                        alt="Skill 1"><span>Angular</span>
                        </div>
                        <div class="skill-item"><img src="./../../../assets/img/icons/1_TS.png"
                                        alt="Skill 2"><span>TypeScript</span>
                        </div>
                        <div class="skill-item"><img src="./../../../assets/img/icons/2_JS.png"
                                        alt="Skill 3"><span>JavaScript</span>
                        </div>
                        <div class="skill-item"><img src="./../../../assets/img/icons/3_HTML.png"
                                        alt="Skill 4"><span>HTML</span>
                        </div>
                        <div class="skill-item"><img src="./../../../assets/img/icons/4_CSS.png"
                                        alt="Skill 5"><span>CSS</span>
                        </div>
                        <div class="skill-item"><img src="./../../../assets/img/icons/5_book.png"
                                        alt="Skill 6"><span>Firebase</span>
                        </div>
                        <div class="skill-item"><img src="./../../../assets/img/icons/6_GIT.png"
                                        alt="Skill 7"><span>Git</span>
                        </div>
                        <div class="skill-item"><img src="./../../../assets/img/icons/7_scrum.png"
                                        alt="Skill 8"><span>Scrum</span>
                        </div>
                        <div class="skill-item"><img src="./../../../assets/img/icons/8_API.png"
                                        alt="Skill 9"><span>Rest-Api</span>
                        </div>
                        <div class="skill-item"><img src="./../../../assets/img/icons/9_materialDesign.png"
                                        alt="Skill 10"><span>Material Design</span> </div>
                </div>
        </div>
</section>