.app-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}

body {      
    background-color: #dedede;
    color: var(--clr-text);
    
      
      button {
        cursor: pointer;
        border: unset;
    }
    
    input {
        border: unset;
    }
}

