::ng-deep section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 16px 0px 16px;

    .privacy-policy-content{
        padding: 0 30px 30px 30px;
    }

    h1 {
        margin-bottom: 24px;
        color: var(--clr-text-green);
        font-size: clamp(2.5rem, 6.5vw, 6.5rem);
    }

    h2 {
        font-size: clamp(1.2rem, 2vw, 2rem);
        font-weight: 900;
        margin-bottom: 8px;

        &:hover {
            color: unset;
        }
    }

    h3 {
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;
        font-weight: 300;
        margin: 8px;
        text-align: center;
        color: var(--clr-text-green);

        span {
            font-size: 1.5rem;
            font-weight: 900;
        }      
    }
    
    h4 {
        display: flex;
        flex-direction: column;

        span {
            span{
                display: flex;
                font-weight: bolder;
            }
        }
    }

    a {
        color: var(--clr-text-green);
    }
}

@media (min-width: 900px) {
    .privacy-policy-content{
        padding: 0 80px 60px 80px;
    }
}