::ng-deep app-root {
    width: unset;
}

::ng-deep section {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 142px 16px 0px 16px;

    .imprint-content{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
    }

    h1 {
        margin-bottom: 16px;
        color: var(--clr-text-green);
        font-size: clamp(2.5rem, 6.5vw, 6.5rem);
        align-self: center;

    }

    h2 {
        font-size: 2rem;
        font-weight: 900;
        margin-bottom: 8px;

        &:hover {
            color: unset;
        }
    }

    h3:first-of-type {
        text-align: center; 
    }

    h3 {
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;
        font-weight: 300;
        margin: 8px;

        span {
            font-size: 1.5rem;
            font-weight: 900;
        }      
    }
    
    h4 {
        display: flex;
        flex-direction: column;

        span {
            span{
                display: flex;
                font-weight: bolder;
            }
        }
    }
}
    @media (min-width: 900px) {
        ::ng-deep section  {
           padding: 100px 16px 0px 16px;
    }
    
}
