<section class="section container">
    <div class="contact-wrapper">
        <h2 class="greet">{{ 'GREET'| translate}}</h2>
        <div class="h3-wrapper">
            <h3>{{'CONTACT_UPPER_TEXT'|translate}}</h3>
        </div>
        <div class="h4-wrapper"></div>
        <h4>{{'CONTACT_LOWER_TEXT'| translate}}</h4>
    </div>

    <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm" class="contactForm">

        <input [(ngModel)]="contactData.firstName" type="text" id="name" name="name" placeholder="Your name" class="contact-form-fields
        " required>


        <input [(ngModel)]="contactData.email" type="email" id="email" name="email" placeholder="Your email" class="contact-form-fields
        " required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">


        <textarea #message="ngModel" [(ngModel)]="contactData.message" id="message" name="message" minlength="5" class="contact-form-fields
        " placeholder="Your message" required>
                        </textarea>
        @if (!message.valid && message.touched && !message.disabled){<span>Please enter a message</span>}
        <!-- <button class="submit" type="submit" value="Submit" [disabled]="!contactForm.form.valid || !checkboxState"> -->

        <div class="agreeCheckboxDiv">
            <input [(ngModel)]="checkboxState" type="checkbox" id="checkbox" name="checkbox">
            <p>
                {{'CHECKBOX_TEXT_1' | translate}} <a href="#privacy">
                    {{ 'PRIVACY_POLICY' | translate }}
                </a> {{'CHECKBOX_TEXT_2' | translate}}</p>
        </div>

        <button class="submit" type="submit" value="Submit">Say hello ;)</button>
        <!-- {{ 'SEND_MSG' | translate }} -->

    </form>
</section>