.container {
  display: flex;
  flex-direction: column;
    border-radius: 5px;
    padding: 20px;
    background-color: var(--clr-text);
    color: var(--clr-bg);
  }

h1{
  color: var(--clr-text-green);
  font-family: Overpass;
  font-size: 32px;
  font-weight: 700;
  text-align: center;

}

.contactForm{
  display: flex;
  flex-direction: column;
}
/* Style inputs with type="text", select elements and textareas */
input[type=text], [type=email], textarea {
    width: 100%; 
    border-bottom: 2px solid var(--clr-bg); /* Gray border */
    background-color: var(--clr-text);
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    padding: 15px 25px 15px 25px;
    gap: 10px;

    &::placeholder {
      color: var(--clr-bg);
      font-family: Overpass;
      font-size: 16px;
      font-weight: 400;
      text-align: left;
    }
  }


.contact-form-fields{
  background-color: var(--clr-text);
  color: var(--clr-bg);
}

  
  /* Style the submit button with a specific background color etc */
.submit {
  width: fit-content;
  padding: 20px 40px 20px 40px;
  gap: 10px;
  align-self: center;
  background-color: var(--clr-text);
  border: 4px solid var(--clr-btn);
  opacity: 50%;
  color: var(--clr-btn);
  cursor: pointer;
  font-family: Montserrat;
  font-size: 23px;
  font-weight: 400;
  text-align: left;
}


  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */

  