section {
  padding: 0;
}

.navigation-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  align-items: center;
  z-index: 3;
  flex-grow: 1;
  padding-left: 40px;
}

.navigation-wrapper ul {
  background-color: var(--clr-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  list-style-type: none;
  margin: 0;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0;

  transition: width 0.6s linear;

  ul a {
    color: var(--clr-text);
    text-decoration: none;
    margin: 0 10px;

  }

  li{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 70%;
      height: 15%;
      font-family: Syne;
      font-size: clamp(2.9rem, 6vw, 6rem);
      font-weight: 700;
      line-height: 45px;
      letter-spacing: -0.025em;
      color: #000; 
      background-image: url('./../../../../assets/img/animations/link_border1.png');
      background-repeat: no-repeat;
      background-size: 100% 100%; 
      padding-bottom: 3%;
      margin-top: 3%;
      &:hover {
        animation: border-effect 315ms forwards;
        background-repeat: no-repeat;
        cursor: pointer;
      }
      a {
        color: var(--clr-text);
      }
  }
}

#navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 100vh;
}

h2 {
  padding: 53px 20px 0 20px;
  background-color: var(--clr-text);
  color: var(--clr-bg);
  text-align: left;
  font-size: 2.8rem;
  clip-path: polygon(0 0, 100% 40%, 100% 100%, 0% 100%);
  width: 100vw;
  margin-bottom: 0;
  margin-top: 0;

  &:hover {
    color: var(--clr-text-green);
    cursor: pointer;
  }
}



@keyframes border-effect {
  0% {
    background-image: url('./../../../../assets/img/animations/link_border1.png');
  }

  50% {
    background-image: url('./../../../../assets/img/animations/link_border2.png');
  }

  100% {
    background-image: url('./../../../../assets/img/animations/link_border3.png');
  }
}


@media (max-width: 450px) {
  .navigation-wrapper ul li {
    width: 95%;
  }
}

// @media (min-width: 900px){
//   .navigation-wrapper ul {
//       padding: 0 0 8% 0;
//   }
// }