<section id="navigation">
    <div [ngClass]="{ 'active': isActive }" class="navigation-wrapper">
        <ul>
            <li><a (click)="navigateToSection('about')" class="nav-link">About Me</a></li>
            <li><a (click)="navigateToSection('skills')" class="nav-link">My Skills</a></li>
            <li><a (click)="navigateToSection('projects')" class="nav-link">Portfolio</a></li>
        </ul>
        <h2 class="greet" (click)="navigateToSection('contact')">{{ 'GREET' | translate }}</h2>
        <!-- <app-contactform></app-contactform> -->
        <app-footer></app-footer>

    </div>
</section>