<section class="section">
    <div class="references-wrapper">
        <div class="ref-top">
            <h2>{{'REFERENCES' | translate}}</h2>
            <p class="h2-text">{{'REFERENCES_TEXT' | translate}}</p>
        </div>
        <div class="ref-bottom">
            <app-reference-single *ngFor="let referenceSingle of references" [references]="referenceSingle"
                class="single-reference"></app-reference-single>
        </div>

        <div class="arrow-div">
            <img src="./../../../assets/img/animations/arrow_angle.png" alt="arrow showing down"
                [ngClass]="{'scrolled': isScrolled}">
        </div>
    </div>
</section>