.references-wrapper{

    .ref-top{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        >h2{
            margin-bottom: unset;
        }

        >p{
            text-align: center;
        }
    }
   
    .arrow-div  {
        position: relative;
        overflow: hidden;
        height: 14rem;
        display: flex;
        justify-content: flex-end;
        padding: 0 100px;
        margin-bottom: 40px;

        >img{
            position: absolute;
            height: 100%;
            transition: transform 0.25s linear;  
            animation: moveDown 7s ease-in-out infinite; 
        }            
        
        @keyframes moveDown {
            from {
            transform: translate(100%, -100%);
                }
            to {
            transform: translate(-100%, 100%);
            }
        }
    }
}