app-reference-single {
    display: flex;
}

.references-wrapper{

    .ref-top{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        >h2{
            margin-bottom: unset;
        }

        >p{
            text-align: center;
        }
    }
   
    .ref-bottom{
        display: grid;
        grid-template-columns: 1fr; 
        gap: 1rem;
        align-self: stretch;
    }

    .arrow-div  {
        position: relative;
        overflow: hidden;
        height: 8rem;
        display: flex;
        justify-content: flex-end;
        padding: 0 40px;
        margin-bottom: 20px;

        >img{
            position: absolute;
            height: 100%;
            transition: transform 0.25s linear;  
            animation: moveDown 7s ease-in-out infinite; 
        }            
        
        @keyframes moveDown {
            from {
            transform: translate(100%, -100%);
                }
            to {
            transform: translate(-100%, 100%);
            }
        }
    }
}

@media (min-width: 500px) {
    .about-wrapper .arrow-div  {
        padding: 0 100px !important;
        margin-bottom: -5px !important;
        margin-top: 20px;
        height: 14rem;
        }
}


@media (min-width: 700px) {
    .arrow-div  {
        margin-bottom: -20px !important;
    }
}

@media (min-width: 768px) {
    .references-wrapper .ref-bottom {
      grid-template-columns: repeat(3, 1fr); 
      align-items: stretch; 

      .ref-titles {  
        height: 100%; 
        min-height: 420px; 
        padding: 1rem;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); }
    }
}

  @media (min-width: 1000px) {
    .arrow-div  {
        margin-bottom: -40px !important;
    }
}