<section class="section">
    <div class="projects-wrapper">
        <h2>{{'HEADER_PORTFOLIO' | translate}}</h2>
        <p class="h2-text">{{ 'PORTFOLIO_DESCRIPTION' | translate }}</p>

        <app-project-single></app-project-single>


        <div class="single-project-div">
            <div class="number-of-div 1">01/02</div>
            <div class="project-img-div">
                <img src="./../../../assets/img/projects/join.jpg" alt="">
            </div>
        </div>
        <div class="single-project-div">
            <div class="number-of-div 2">02/02</div>
            <div class="project-img-div">
                <img src="./../../../assets/img/projects/EPL.jpg" alt="">
            </div>
        </div>


    </div>
</section>