<section class="section">
    <div class="projects-wrapper">
        <h2>Portfolio</h2>
        <p class="h2-text">{{ 'PORTFOLIO_DESCRIPTION' | translate }}</p>
        <div class="single-project-div">
            <div class="number-of-div 1">01/02</div>
            <div class="project-img-div">
                <img src="./../../../assets/img/projects/join.png" alt="">
            </div>
        </div>
        <div class="single-project-div">
            <div class="number-of-div 2">02/02</div>
            <div class="project-img-div">
                <img src="./../../../assets/img/projects/join.png" alt="">
            </div>
        </div>
    </div>
</section>