<div class="projects-wrapper">
    <h1>Portfolio</h1>
    <p>{{ 'PORTFOLIO_DESCRIPTION' | translate }}</p>
    <div class="single-project-div">
        <div class="number-of-div 1">01/02</div>
        <div class="project-img-div">
            <img src="./../../../assets/img/projects/join.png" alt="">
        </div>
    </div>
    <div class="single-project-div"></div>
    <div class="number-of-div 2">02/02</div>
    <div class="project-img-div">
        <img src="./../../../assets/img/projects/join.png" alt="">
    </div>
</div>