<footer [ngClass]="{ 'nav-footer': isInsideNavigation, 'small-footer': isInImprint}">
        <div class="footer-wrapper">
                <div class="socialMediaLinks">
                        <div [ngClass]="{ 'd-none': isInsideNavigation || isInImprint }" class="arrow-div">
                                <a class="arrow-up" (click)="navigateToTop()"></a>
                        </div>
                        <a href="https://github.com/wavyStructures" target="_blank"> <img
                                        src="../../../assets/img/icons/Property 1 github.png" alt="github link"></a>
                        <a href="#contact"><img src="../../../assets/img/icons/Property 1 mail.png"
                                        alt="contactform link"></a>
                        <a href="https://www.linkedin.com/in/anja-schwab-63a97b146/" target="_blank"><img
                                        src="../../../assets/img/icons/Property 1 linkedIn.png" alt="linkedin link"></a>
                </div>
                <div class="copyright">
                        <div class="logo-div" [ngClass]="{ 'd-none': isInImprint }"><img
                                        [ngClass]="{ 'd-none': isInsideNavigation}"
                                        src="../../../assets/img/Logo_black_final.svg" alt="logo"
                                        (click)="navigateToTop()">
                        </div>
                        <a class="mailTo"
                                href="mailto:mail@developer-anja-schwab.de">mail&#64;developer-anja-schwab.de</a>
                        <p class="copyright-name" [ngClass]="{ 'd-none': isInsideNavigation}">&copy; 2024 Anja Schwab
                        </p>
                </div>
                <div [ngClass]="{ 'd-none': isInsideNavigation || isInImprint }" class="privacy_policy"><a
                                routerLink="/imprint">
                                {{ 'BTN_IMPRINT' | translate }}</a>
                </div>
        </div>
</footer>