<footer [ngClass]="{ 'nav-footer': isInsideNavigation }">
    <div class="footer-wrapper">
        <div class="socialMediaLinks">
            <a href="https://github.com/wavyStructures" target="_blank"> <img
                    src="../../../assets/img/icons/Property 1 github.png" alt=""></a>
            <a href="#contact" target="_blank"><img src="../../../assets/img/icons/Property 1 mail.png" alt=""></a>
            <a href="https://www.linkedin.com/in/anja-schwab-9441722b6/" target="_blank"><img
                    src="../../../assets/img/icons/Property 1 linkedIn.png" alt=""></a>
        </div>
        <div class="copyright">
            <div class="logo-div"><img [ngClass]="{ 'd-none': isInsideNavigation }"
                    src="../../../assets/img/Logo_black_final.svg" alt="">
            </div>
            <a class="mailTo" href="mailto:mail@developer-anja-schwab.de">mail&#64;developer-anja-schwab.de</a>
            <!-- <p>&copy; 2024 Anja Schwab</p> -->
        </div>

        <div [ngClass]="{ 'd-none': isInsideNavigation }" class="privacy_policy"><a routerLink="imprint">
                {{ 'BTN_IMPRINT' | translate }}</a>
        </div>

    </div>
</footer>