footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    // width: 100%;
    background-color: var(--clr-text);
    color: var(--clr-bg);
    margin: 0; 
    padding: 0; 
    display: flex;
    justify-content: center;
    align-items: center;       
    margin-top: -1px;

         
    .socialMediaLinks {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        >a {
            display: flex;
        
            img {
                height: 40px;
                width: 40px;
                filter: brightness(1);
                transition: filter 0.3s ease;
            
                &:hover {
                animation: slide-up 3s cubic-bezier(.25,.46,.45,.94) both;
                filter: brightness(1.5); 
                }

                @keyframes slide-up {
                    0%{
                    transform: translateY(-12px);
                    }
                    100%{
                    transform: translateY(-12px);
                    }
                }
            }
        }
    }
}

    .logo-div{
        padding: 28px 0;
        cursor: pointer;
    }

    .copyright {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 20px;

        img {
            filter: invert(1) brightness(0.9);
            height: 100px;
            transition: filter 0.3s ease;

            &:hover{
                filter: invert(1) brightness(1.5); 
            }
        }

        a {
            font-family: Overpass;
            font-size: 19px; 
            font-weight: 300;
            color: var(--clr-bg);
            text-align: center;
        }
    }

    .privacy_policy {
        padding: 9px 0 28px 0;
        text-align: center;
        cursor: pointer;
               
        >a {color: var(--clr-bg);         
            position: relative;
        }
        
        >a::after {
            content: "";
            position: absolute;
            right: 95px;
            bottom: -2px;
            width: 10%;
            height: 2px; 
            background-color: transparent;
            transition: background-color 0.3s ease;
            transition: width 0.5s ease; 
            transform: translateX(230%); 
        }

        >a:hover::after {
            width: 50%;
            background-color: #00BC8F;
        }
    }
    
////////////////////////navigation footer////////////////////////
.nav-footer{
    footer{
        margin-top: auto; /* Push footer to the bottom */
        justify-content: flex-start;
        padding: 8px 21px;
    }

    .footer-wrapper .socialMediaLinks {
        margin: 0 0 100px 0 !important;
     }  
    
    .footer-wrapper {
        width: 100vw;
        max-width: 1440px;
        height: 14rem;
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        align-items: unset;
        margin-bottom: unset;
        padding-left: 20px;

        .copyright{
            display: flex;
            flex-direction: unset; 
            justify-content: unset; 
            align-items: flex-start;
            padding: 0 0 0 3px;
            }  
        
        .mailTo {
            display: block;
            text-decoration: none;
            margin-top: 1rem;
            left: 24px; 
        }

        .socialMediaLinks {
            justify-content: flex-end;
            align-items: center;
            gap: clamp(1rem, 2vw + 1rem, 4rem);
            padding: 0 1rem;       
            margin-bottom: 177px; 
        }
    }

    @media (min-width: 560px) {
        .footer-wrapper {
            position: relative;
            width: 100vw;
            max-width: 1440px;
            max-height: 10rem;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: flex-start;
            margin-bottom: 8px;
        }        
    }
}

@media (min-width: 500px) {
    footer {
        .footer-wrapper{
            display: flex;
            position: relative;
            flex-direction: row-reverse;
            width: 100vw;
            max-width: 1440px;
            padding: 0 40px 0 20px;
        }

        .privacy_policy a {
            color: var(--clr-bg);
            position: absolute;
            bottom: 8px;
            right: 20px;
            font-size: smaller;
            padding: 0 60px 20px 0;
        }    
        
        .privacy_policy a::after {
                    right: 152px;
                    bottom: 17px;

                    transform: translateX(200%); 
                }
        
        .privacy_policy a:hover::after {
                    width: 38%;
                }
          
        .copyright{
            align-items: flex-start;

            p {
                margin-top: -28px;
            }
        }

        .copyright-name {
            margin-bottom: 0px;
        }

        .mailTo {
            display: none;
        }

        .logo-div {
            padding: 0;

            >img {
                margin-left: -32px;
            }
        }
        
        .socialMediaLinks {
            position: relative;
            flex-grow: 1;
            gap: 8%;
            justify-content: flex-end;
            padding: 5.5rem 0 2rem 0;
            margin: 0 40px 20px 0;
        }   
    }
}

@media (min-width: 700px) {
    footer {
        .arrow-div{
            position: absolute;
            bottom: 90%;
        
            .arrow-up {
                display: flex;
                width: 30px;
                height: 80px;
                background-image: url(./../../../assets/img/animations/arrow_up.png);
                background-repeat: no-repeat;
                background-position: center 40px;
                transition: all 0.125s linear;
                cursor: pointer;
            
                &:hover {
                background-position: center;
                }
            }
        }
    }
}

@media (min-width: 1440px) {
    footer .logo-div > img {
        margin-left: unset;
    }
}

.small-footer {
    width: 100vw;
    display: flex;
    justify-content: center; 
    background-color: black; 
    color: var(--clr-bg); 
    margin-top: auto; 
    padding: 16px 0; 

    .footer-wrapper {
        display: flex;
        flex-direction: row-reverse;    
        width: 100%;
        max-width: 1440px;
        justify-content: space-between;
        padding: 8px 8px;
        padding-left: unset;
    }      

    .arrow-up {
        display: none;
    }
    
    .socialMediaLinks {
        align-items: flex-end;
        padding-bottom: 8px;
    }

    .copyright {
        align-items: flex-start;
        padding: 0 8px;

        p {
            margin: 0;
        }

        a {
          display: none;
        }
    }
}

.small-footer .footer-wrapper .socialMediaLinks .arrow-div .arrow-up {
    display: none;
}