footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100vw;
    background-color: var(--clr-text);
    color: var(--clr-bg);
    margin-top: -1px;
         
    .socialMediaLinks {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        >a {
            display: flex;
        
            img {
                height: 40px;
                width: 40px;
                filter: brightness(1);
                transition: filter 0.3s ease;
            
                &:hover {
                animation: slide-up 3s cubic-bezier(.25,.46,.45,.94) both;
                filter: brightness(1.5); 
                }

                @keyframes slide-up {
                    0%{
                    transform: translateY(-12px);
                    }
                    100%{
                    transform: translateY(-12px);
                    }
                }
            }
        }
    }
}

    .logo-div{
        padding: 28px 0;
        cursor: pointer;
    }

    .copyright {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            filter: invert(1) brightness(0.9);
            height: 100px;
            transition: filter 0.3s ease;

            &:hover{
                filter: invert(1) brightness(1.5); 
            }
        }

        a {
            font-family: Overpass;
            font-size: 19px; 
            font-weight: 300;
            color: var(--clr-bg);
            text-align: center;
        }
    }

    .privacy_policy {
        padding: 9px 0 28px 0;
        text-align: center;
        cursor: pointer;
               
        >a {color: var(--clr-bg);         
            position: relative;
        }
        
        >a::after {
            content: "";
            position: absolute;
            left: 0%;
            bottom: 0;
            width: 10%;
            height: 2px; 
            background-color: transparent;
            transition: background-color 0.3s ease;
            transition: width 0.5s ease; 
            transform: translateX(110%); 
        }

        >a:hover::after {
            width: 50%; 
            background-color: #00BC8F; 
        }
    }
    
        
////////////////////////navigation footer////////////////////////
.nav-footer{
    footer{
        margin-top: auto; /* Push footer to the bottom */
        justify-content: flex-start;
        padding: 8px 21px;
    }
    
    .footer-wrapper {
        width: 100vw;
        height: 14rem;
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        align-items: unset;
        margin-bottom: unset;


        .copyright{
            display: flex;
            flex-direction: unset; 
            justify-content: unset; 
            align-items: flex-start;
            padding: 0 24px 20px 24px;
            }  
        
        .mailTo {
            display: block;
            text-decoration: none;
            margin-top: 1rem;
            left: 24px; 
        }

        .socialMediaLinks {
            justify-content: flex-end;
            align-items: center;
            // gap: 2rem;
            gap: clamp(1rem, 2vw + 1rem, 4rem);
            padding: 0 1rem;       
            margin-bottom: 177px; 
        }
    }

    @media (min-width: 560px) {
        .footer-wrapper {
            position: relative;
            width: 100vw;
            height: 9rem;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: flex-start;
            margin-bottom: 8px;
        }        
    }
}

.small-footer {
    width: 100vw;
    margin-top: 0 auto; 
    
    .footer-wrapper {
        display: flex;
        flex-direction: row-reverse;    
        width: 100vw;
        justify-content: space-between;
        padding: 8px 8px;
    }      

    .socialMediaLinks {
        align-items: flex-end;
        padding-bottom: 8px;
    }

    .copyright {
        align-items: flex-start;
        padding: 0 8px;

        p {
            margin: 0;
        }
    }  
}

@media (min-width: 500px){
    footer {
        .footer-wrapper{
            display: flex;
            position: relative;
            flex-direction: row-reverse;
            width: 100vw;
            padding: 0 20px;
        }

        .privacy_policy >a {
            color: var(--clr-bg);
            position: absolute;
            bottom: 16px;
            right: 20px;
        }

        .copyright{
            align-items: flex-start;

            >p {
                margin-top: -16px;
            }
        }

        .mailTo {
            display: none;
        }

        .logo-div {
            padding: 0;
        }
        
        .socialMediaLinks {
            flex-grow: 1;
            gap: 10%;
            justify-content: flex-end;
        }
    }
}










