article {
    padding: 8px;
}

.ref-titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 24px;
    border: 4px solid var(--clr-text);
    height: 100%; 
    box-sizing: border-box; 
    text-align: center;   
       
    .quote-icon {
        height: 27px;
        width: 40px;
        background-image: url('./../../../../assets/img/icons/format_quote@2x.png');
        background-size: cover;
    }

    h2 {
        font-family: Syne;
        font-size: 22px;
        font-weight: 600;
        text-align: center;
    }

    &:hover {
        border: 4px solid var(--clr-text-green);

        h2 {
            color: var(--clr-text-green);
            font-weight: bolder;
        }

        .quote-icon {
            background-image: url('./../../../../assets/img/icons/format_quote_green_NEW.png');
            background-size: cover;
        }
    }
   
    span {
        font-family: Overpass;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
    }

    p {
        font-family: Overpass;
        font-size: 18px;
        font-weight: 400;
        text-align: left;
        margin-bottom: 0;
    }
}

@media (min-width: 500) {
    .ref-titles p {
        font-size: 20px;
    }
}

@media (min-width: 1000px) {
    .ref-titles h2 {
        font-weight: 700;
    }

    .ref-titles p {
        font-size: 22px;
    }
}
